* {
  margin: 0;
  padding: 0;
}

body {
  background: url(https://www.huangyihui.cn/upload/gburlimg/bg.webp) no-repeat fixed center center;
  background-size: cover;
  font-size: 14px;
  height:100vh;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}
a:hover {
    color: black;
}

/* 解决详情页中图片显示溢出问题 */
.md-image {
  width: 100% !important;
}

